{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
       "browsers": ["> 1%", "last 2 versions", "not ie <=8"]
      }
    }]
  ],
  "plugins": [
    "dynamic-import-webpack",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
